@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.post {
  font-family: 'Poppins', sans-serif;
  background-color: #213042;
  color: #ffffff;
  width: 1150px;
  margin: 50px auto;
}

.author {
  display: flex;
  align-items: center;
  padding: 15px 0 0 15px;
  gap: 20px;
}

.author-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.post-img {
  width: 800px;
}

.interaction {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 10px 0 25px;
}

.icon {
  margin-right: 7px;
}